/*Main*/
main {
	margin-top: 3rem;
	padding-bottom: 6.5rem;
}
.mr-1 {
	align-items: center;
}
.main-title {
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 500;
}
.main-sub-title {
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 500;
}
.mr-2 {
	margin-top: 2.1rem;
	flex-wrap:wrap;
}
.product-card-block {
	position: relative;
	width: 30%;
	padding: 2.2rem;
	background-color: #fff;
	border-radius: 15px 15px 0 15px;
	margin-bottom: 5%;
}
.product-card {
	width: 100%;
	height: 100%;
}
.card-title {
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 600;
	margin-bottom: 5px;
	color: #000000;
}
.card-price-text {
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 500;
	margin-bottom: 3.5rem;
	color: #000000;
}
.card-main-img {
	width: 50%;
	margin: 0 auto 7rem;
}
.add-to-cart-block {
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 0;
	width: 3.5rem;
	height: 3.5rem;
	background-color: #FF6F00;
	border-radius: 5px 5px 0 5px;
	cursor: pointer;
}
.plus-icon {
	position: relative;
	width: 100%;
	height: 100%;
}
.plus-icon span:before, .plus-icon span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
	height: 0.2rem;
	background: #fff;
	border-radius: 0.1rem;
}
.plus-icon span:after {
	transform: translate(-50%, -50%) rotate(90deg);
}
@media screen and (max-width: 992px){
	.product-card {
		width: 45%;
		padding: 2rem;
		margin-bottom: 10%;
	}
}
@media screen and (max-width: 767px){
	.product-card {
		width: 47.65%;
		padding: 2rem;
		margin-bottom: 4.7%;
	}
	.card-main-img {
	    width: 50%;
	    margin: 0 auto 5rem;
	}
}
@media screen and (max-width: 576px){
	.product-card {
		width: 47.65%;
		padding: 1rem
	}
	.card-main-img {
	    width: 67.1%;
	    margin: 0 auto 2.8rem;
	}
	.card-title {
		font-size: 1.3rem;
		line-height: 1.7rem;
		font-weight: 600;
		margin-bottom: 2px;
	}
	.card-price-text {
		font-size: 1.0rem;
		line-height: 1.4rem;
		font-weight: 400;
		margin-bottom: 0.9rem;
	}
	.add-to-cart-block {
		width: 2.5rem;
		height: 2.5rem;
	}
	.plus-icon span:before, .plus-icon span:after {
		width: 1rem;
		height: 0.1rem;
		border-radius: 0.05rem;
	}
}